.app-button {
  background-color: #0D0D0D;
  border: none;
  color: #F6E531;
  font-weight: 600;
  border-radius: 8px;
  height: 40px;
  font-size: 1.2rem;
  margin-top: 10px;
}

.app-button:hover {
  background-color: #F6E531 !important;
  color: #0D0D0D !important;
}