.auth-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.auth-container {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-input {
    margin-bottom: 18px;
}

.login-input .ant-input-prefix {
    margin-right: 15px;
    color: #C9A227;
}

.forget-password {
    font-size: 15px;
}

.here:hover {
    color: gold;
    text-decoration: underline;
}

.app-button {
    font-size: 26px !important;
    margin-bottom: 10px;
}