.auth-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.auth-container {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.forget-password {
    font-size: 15px;
}

.app-button {
    font-size: 26px !important;
    margin-bottom: 10px;
}